<style>
.content{
    position: relative;
}
.text{
    position: absolute;
    color: white;
    left: 42%;
    top: 3.5%;
}
.box-content{
    position: absolute;
    height: 585px;
    width: 600px;
    background-color: white;
    top: 15%;
    left: 32%;
    border-radius: 10px;
    border: 1px solid #0396FF;
}
</style>
<div class="content">
    <div class="text">
        <h1>ĐẶT VÉ MÁY BAY</h1>
    </div>
    <div class="box-content">
        <h1 class=" text-center" style="padding-top: 20px;">Thông tin đặt vé</h1>
        <form action="#">
            <div class="row" style="margin: 5px; padding-top: 30px;">
                <div class="form-group col-sm-6">
                    <label for>Họ và tên</label>
                    <input type="text" class="form-control" name id />
                </div>
                <div class="form-group col-sm-6">
                    <label for>Chứng minh thư</label>
                    <input type="text" class="form-control" name id />
                </div>
            </div>
            <div class="row" style="margin: 5px">
                <div class="form-group col-sm-6">
                    <label for>Email</label>
                    <input type="text" class="form-control" name id />
                </div>
                <div class="form-group col-sm-6">
                    <label for>Giới tính</label>
                    <div class="row" style="margin: 10px 1px;">
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="options" id="option1" value="option1">
                                <label class="form-check-label" for="option1">
                                  Nam
                                </label>
                              </div>
                              
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="options" id="option1" value="option1">
                                <label class="form-check-label" for="option1">
                                  Nữ
                                </label>
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 5px">
                <div class="form-group col-sm-6">
                    <label for>Số điện thoại</label>
                    <input type="text" class="form-control" name id />
                </div>
                <div class="form-group col-sm-6">
                    <label for>Chọn chuyến bay</label>
                    <select name id class="form-control">
                        <option value>Đà Nẵng</option>
                        <option value>HCM</option>
                        <option value>Hà Nội</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin: 5px">
                <div class="form-group col-sm-6">
                    <label for>Ngày sinh</label>
                    <input type="date" class="form-control" name id />
                </div>
                <div class="form-group col-sm-6">
                    <label for>Hành lí</label>
                    <input type="text" class="form-control" name id />
                </div>
            </div>
            <div class="row" style="margin: 5px">
                <div class="form-group col-sm-12">
                    <label for>Hình thức thanh toán</label>
                    <select name id class="form-control">
                        <option value>Tiền mặt</option>
                        <option value>Chuyển khoản</option>
                        <option value>Thẻ tín dụng</option>
                    </select>
                </div>
            </div>
           <div class="row" style="margin: 20px 5px;">
            <div class="col-sm-12">
                <button type="submit" class="col-sm-12 btn btn-primary">Đặt vé</button>
            </div>
            <div class="col-sm-12" style="padding-top: 10px;">
                <button type="Reset" class="col-sm-12 btn btn-primary" style="background-color: darkgray;border: 1px;">Reset</button>
            </div>
           </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12 m-0">
            <img src="/ASM2/img/slider_3.webp" alt
                style="width: 1513px;">
        </div>
    </div>