<section class="page">
	<img src="/ASM2/img/bg-brea.webp" style="width: 1513px;height: 200px;background-color: #0396FF;" alt="">
	<div class="container">
		<div class="pg_page">
			<div class="row">
				<div class="col-12">
					<div class="page-title category-title" style="padding: 20px 10px;">
						<h1 class="title-head" style="color: #0396ff;"><a>Giới thiệu</a></h1>
					</div>

					<div class="content-page rte">
						
						<h4>1. Chúng tôi là ND Travel</h4>
<p>Được thành lập từ năm 2010, ND Travel là một trong những Công ty du lịch uy tín hàng đầu Việt Nam, cung cấp dịch vụ đặt phòng khách sạn, đặt vé máy bay, tour du lịch cho khách trong nước và Quốc tế.</p>
<p>Với mục tiêu cung cấp dịch vụ du lịch chất lượng, tin cậy với giá tốt nhất, ND Travel liên kết chọn lọc với các khách sạn, các hãng hàng không và các đối tác uy tín địa phương nhằm cung cấp đa dạng các dịch vụ, được kết hợp thông minh và tối ưu cho phép khách hàng đặt những chuyến đi hoàn hảo với&nbsp;<label>giá tốt nhất.</label></p>
<h4>2. Tầm nhìn</h4>
<p>Tầm nhìn của chúng tôi là trở thành Công ty du lịch hàng đầu Châu Á, dựa trên nền tảng đội ngũ nhân viên chuyên nghiệp, tận tâm kết hợp với hệ thống online mạnh mẽ, đáng tin cậy để cung cấp cho khách hàng chuyến đi hoàn hảo và tiết kiệm.</p>
<h4>3. Dịch vụ cung cấp</h4>
<p>Với mục tiêu tiết kiệm tối đa chi phí và thời gian cho khách hàng để lên kế hoạch và đặt dịch vụ cho một chuyến đi, ND Travel cung cấp đa dạng các dịch vụ du lịch, được kết hợp thông minh và tối ưu:</p>
<p><b>Du lịch trong nước</b></p>
<p>Cung cấp đa dạng các tour du dịch ghép khách lẻ theo nhóm hoặc thiết kế theo yêu cầu cho khách đoàn trên các tuyến điểm tại Việt Nam.</p>
<p><b>Du lịch Quốc tế</b></p>
<p>Là một trong những Công ty du lịch hàng đầu Việt Nam cũng như Quốc tế, ND Travel tự hào đã phục vụ hơn 150.000 du khách từ khắp nơi trên thế giới. Chúng tôi luôn tự tin đem đến cho du khách Việt Nam những chuyến đi tuyệt vời để khám phá mọi miền đất mới như Thái, Malaysia, Singapore, Trung Quốc, Nhật Bản, Hàn Quốc, Châu Âu, Châu Úc, Châu Mỹ...</p>
<p><b>Đặt vé máy bay</b></p>
<p>Tiện ích với dịch vụ đặt chỗ &amp; thanh toán trực tuyến cho vé máy bay của các hãng hàng không nội địa (Vietnam Airlines, Jetstar Pacific, Vietjet Air) và quốc tế (Thai Airways, Air Asia, Singapore Airline, Qatar Airways, Emirates..), những chuyến đi sẽ trở nên thật dễ dàng, nhanh chóng, cùng dịch vụ chăm sóc chuyên nghiệp.</p>
<p><b>Đặt phòng khách sạn</b></p>
<p>Hài lòng khách hàng với dịch vụ đặt phòng trực tuyến tại tất cả các điểm đến ở Việt Nam, Lào, Campuchia,Thái Lan và Myanmar với lựa chọn đa dạng và chất lượng đảm bảo.</p>
<p><b>Du lịch du thuyền</b></p>
<p>Cung cấp các dịch vụ đặt tour du thuyền giá tốt nhất từ ngắn ngày đi thăm Vịnh Hạ Long cho tới các tour du thuyền dài ngày cùng trải nghiệm xa hoa xuyên quốc gia trên sông Mekong tại Việt Nam, Lào, Campuchia, Thái Lan và Myanmar.</p>
<p><b>Visa, vé tàu, xe du lịch</b></p>
<p>Đáp ứng các dịch vụ Visa, vé tàu và thuê xe du lịch nhanh chóng và tin cậy. ND Travel cam kết hỗ trợ khách hàng trong mọi thời điểm.</p>
						

					</div>
				</div>
			</div>
		</div>
	</div>
</section>