<div class="content">
    <img src="/ASM2/img/bg-brea.webp" style="width: 1513px;height: 200px;background-color: #0396FF;" alt="">
    <h1 class="text-center" style="margin: 20px 0;">Thông tin liên hệ</h1>
    <p class="text-center" style="color: #76809B;">Chúng tôi vinh hạnh vì đã có cơ hội đồng hành với hơn 10.000 khách hàng trên khắp thế giới</p>
</div>
<div class="content-mid" style="margin-top: 100px;">
    <h2 class="text-center">Đồng hành cùng ND Travel</h2>
    <div class="row" style="margin: 50px; padding: 10px 45px;">
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand1.webp" alt
                style="width: 140px;">
        </div>
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand2.webp" alt
                style="width: 140px;">
        </div>
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand3.webp" alt
                style="width: 140px;">
        </div>
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand4.webp" alt
                style="width: 140px;">
        </div>
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand5.webp" alt
                style="width: 140px;">
        </div>
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand6.webp" alt
                style="width: 140px;">
        </div>
    </div>
</div>