<style>
    .card:hover{
    border: 1px solid #0396FF;
    cursor: pointer;
    }
    h4:hover{
       color: #0396FF; 
    }
    .row img{
        border-radius: 20px;
    }
</style>
<img src="/ASM2/img/bg-brea.webp" style="width: 1513px;height: 200px;background-color: #0396FF;" alt="">
<h1 style="color: #0396FF;padding: 20px;">Tour du lịch</h1>
<div class="row">
    <div class="col-sm-2">
        <div class="card" style="margin-top: 20px;margin-left: 10px;">
            <div class="card-header">
                <span style="font-weight: bold;"
                    class="glyphicon glyphicon-list">Danh mục tour</span>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item muc">Tour trong nước</li>
                    <li class="list-group-item muc">Tour nước ngoài</li>
                    <li class="list-group-item muc">Giá dưới 1.000.000</li>
                    <li class="list-group-item muc">1.000.000 - 3.000.000</li>
                    <li
                        class="list-group-item muc">3.000.000 - 5.000.000</li>
                    <li class="list-group-item muc">7.000.000 - 9.000.000</li>
                    <li class="list-group-item muc">9.000.000 trở lên</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="card" style="margin: 20px;">
            <div class="row">
                <img class="col-sm-3" src="/ASM2/img/sp2.webp" style="height: 200px; width: 300px;padding: 15px;" alt="">
            <div class="col-sm-6" style="padding: 40px 0px;">
                <p style="color: #99A2BC;">Mã tour : ND25</p>
                <h4 style="font-size: 21px;">Du lịch Nha Trang - VinWonders Nha Trang - Hòn Mun 3N2Đ</h4>
                <p style="color: #99A2BC;">Thời gian : 3N2Đ</p>
            </div>
            <div class="col-sm-3"style="padding-top: 30px;">
                <p style="color: #99A2BC;">Khởi hành từ : Hà Nội</p>
                <p style="color: #0396ff;font-weight: bold;">6.500.000đ</p>
                <button class="btn btn-primary" style="width: 200px;">Đặt vé ngay</button>
            </div>
            </div>
        </div>
        <div class="card" style="margin: 20px;">
            <div class="row">
                <img class="col-sm-3" src="/ASM2/img/sp2-4.webp" style="height: 200px; width: 300px;padding: 15px;" alt="">
            <div class="col-sm-6" style="padding: 40px 0px;">
                <p style="color: #99A2BC;">Mã tour : ND25</p>
                <h4 style="font-size: 21px;">Du lịch Nha Trang - VinWonders Nha Trang - Hòn Mun 3N2Đ</h4>
                <p style="color: #99A2BC;">Thời gian : 3N2Đ</p>
            </div>
            <div class="col-sm-3"style="padding-top: 30px;">
                <p style="color: #99A2BC;">Khởi hành từ : Hà Nội</p>
                <p style="color: #0396ff;font-weight: bold;">6.500.000đ</p>
                <button class="btn btn-primary" style="width: 200px;">Đặt vé ngay</button>
            </div>
            </div>
        </div>
        <div class="card" style="margin: 20px;">
            <div class="row">
                <img class="col-sm-3" src="/ASM2/img/sp2-5.webp" style="height: 200px; width: 300px;padding: 15px;" alt="">
            <div class="col-sm-6" style="padding: 40px 0px;">
                <p style="color: #99A2BC;">Mã tour : ND25</p>
                <h4 style="font-size: 21px;">Du lịch Nha Trang - VinWonders Nha Trang - Hòn Mun 3N2Đ</h4>
                <p style="color: #99A2BC;">Thời gian : 3N2Đ</p>
            </div>
            <div class="col-sm-3"style="padding-top: 30px;">
                <p style="color: #99A2BC;">Khởi hành từ : Hà Nội</p>
                <p style="color: #0396ff;font-weight: bold;">6.500.000đ</p>
                <button class="btn btn-primary" style="width: 200px;">Đặt vé ngay</button>
            </div>
            </div>
        </div>
        <div class="card" style="margin: 20px;">
            <div class="row">
                <img class="col-sm-3" src="/ASM2/img/sp5.webp" style="height: 200px; width: 300px;padding: 15px;" alt="">
            <div class="col-sm-6" style="padding: 40px 0px;">
                <p style="color: #99A2BC;">Mã tour : ND25</p>
                <h4 style="font-size: 21px;">Du lịch Nha Trang - VinWonders Nha Trang - Hòn Mun 3N2Đ</h4>
                <p style="color: #99A2BC;">Thời gian : 3N2Đ</p>
            </div>
            <div class="col-sm-3"style="padding-top: 30px;">
                <p style="color: #99A2BC;">Khởi hành từ : Hà Nội</p>
                <p style="color: #0396ff;font-weight: bold;">6.500.000đ</p>
                <button class="btn btn-primary" style="width: 200px;">Đặt vé ngay</button>
            </div>
            </div>
        </div>
        <div class="card" style="margin: 20px;">
            <div class="row">
                <img class="col-sm-3" src="/ASM2/img/sp2-4.webp" style="height: 200px; width: 300px;padding: 15px;" alt="">
            <div class="col-sm-6" style="padding: 40px 0px;">
                <p style="color: #99A2BC;">Mã tour : ND25</p>
                <h4 style="font-size: 21px;">Du lịch Nha Trang - VinWonders Nha Trang - Hòn Mun 3N2Đ</h4>
                <p style="color: #99A2BC;">Thời gian : 3N2Đ</p>
            </div>
            <div class="col-sm-3"style="padding-top: 30px;">
                <p style="color: #99A2BC;">Khởi hành từ : Hà Nội</p>
                <p style="color: #0396ff;font-weight: bold;">6.500.000đ</p>
                <button class="btn btn-primary" style="width: 200px;">Đặt vé ngay</button>
            </div>
            </div>
        </div>
        <div class="card" style="margin: 20px;">
            <div class="row">
                <img class="col-sm-3" src="/ASM2/img/sp2.webp" style="height: 200px; width: 300px;padding: 15px;" alt="">
            <div class="col-sm-6" style="padding: 40px 0px;">
                <p style="color: #99A2BC;">Mã tour : ND25</p>
                <h4 style="font-size: 21px;">Du lịch Nha Trang - VinWonders Nha Trang - Hòn Mun 3N2Đ</h4>
                <p style="color: #99A2BC;">Thời gian : 3N2Đ</p>
            </div>
            <div class="col-sm-3"style="padding-top: 30px;">
                <p style="color: #99A2BC;">Khởi hành từ : Hà Nội</p>
                <p style="color: #0396ff;font-weight: bold;">6.500.000đ</p>
                <button class="btn btn-primary" style="width: 200px;">Đặt vé ngay</button>
            </div>
            </div>
        </div>
        <div class="card" style="margin: 20px;">
            <div class="row">
                <img class="col-sm-3" src="/ASM2/img/sp2.webp" style="height: 200px; width: 300px;padding: 15px;" alt="">
            <div class="col-sm-6" style="padding: 40px 0px;">
                <p style="color: #99A2BC;">Mã tour : ND25</p>
                <h4 style="font-size: 21px;">Du lịch Nha Trang - VinWonders Nha Trang - Hòn Mun 3N2Đ</h4>
                <p style="color: #99A2BC;">Thời gian : 3N2Đ</p>
            </div>
            <div class="col-sm-3"style="padding-top: 30px;">
                <p style="color: #99A2BC;">Khởi hành từ : Hà Nội</p>
                <p style="color: #0396ff;font-weight: bold;">6.500.000đ</p>
                <button class="btn btn-primary" style="width: 200px;">Đặt vé ngay</button>
            </div>
            </div>
        </div>
        
        
    </div>
</div>