<style>
    .content{
    background-color: #F2FAFF;
    border: 1px solid #0396FF;
    border-radius: 10px;
}
.card:hover{
    border: 1px solid #0396FF;
    cursor: pointer;
}
</style>
<div class="header-content">
    <div id="carouselExampleInterval" class="carousel slide"
        data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active"
                data-bs-interval="10000">
                <img src="/ASM2/img/slider_1.webp"
                    class="d-block w-100" alt="..."
                    style="width: 300px; height: 600px" />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/ASM2/img/slider_2.webp"
                    class="d-block w-100" alt="..."
                    style="width: 300px; height: 600px" />
            </div>
            <div class="carousel-item">
                <img src="/ASM2/img/slider_3.webp"
                    class="d-block w-100" alt="..."
                    style="width: 300px; height: 600px" />
            </div>

            <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"
                    aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
        </div>
        <button class="carousel-control-next" type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon"
                aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="content" style=" margin: 10px">
    <div class="row">
        <div class="col-sm-12 text-center" style="margin: 30px 0px">
            <h2>Vì sao bạn nên chọn ND Travel</h2>
        </div>
        <div class="row" style="margin: 20px 0px;padding: 10px 20px">
            <div class="col-sm-4" style="display: flex">
                <img src="/ASM2/img/icon_whychoose_1.webp" alt
                    style="height: 90px; margin-right: 15px" />
                <div class="info" style="width: 250px">
                    <h4>Giá tốt nhất cho bạn</h4>
                    <p>
                        Có nhiều mức giá đa dạng phù hợp với ngân
                        sách và nhu cầu của
                        bạn
                    </p>
                </div>
            </div>
            <div class="col-sm-4" style="display: flex">
                <img src="/ASM2/img/icon_whychoose_2.webp" alt
                    style="height: 90px; margin-right: 15px" />
                <div class="info" style="width: 250px">
                    <h4>Booking dễ dàng</h4>
                    <p>
                        Các bước booking và chăm sóc khách hàng
                        nhanh chóng và thuận
                        tiện
                    </p>
                </div>
            </div>
            <div class="col-sm-4" style="display: flex">
                <img src="/ASM2/img/icon_whychoose_3.webp" alt
                    style="height: 90px; margin-right: 15px" />
                <div class="info" style="width: 250px">
                    <h4>Tour du lịch tối ưu</h4>
                    <p>
                        Đa dạng các loại hình tour du lịch với nhiều
                        mức giá khác nhau
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-5">
                <p
                    style="color: #0396ff; font-weight: bold; font-size: 24px">
                    Hiểu hơn về chúng tôi
                </p>
                <h2 style="font-weight: bold; margin: 20px 0">
                    Lên kế hoạch cho chuyến đi của bạn cùng ND
                    Travel
                </h2>
                <p style="color: #76809b; margin: 20px 0">
                    Vinh hạnh của chúng tôi là mang đến cho bạn
                    những chuyến đi đáng
                    nhớ. Mang đến cho bạn những chuyến đi đầy cảm
                    hứng. Khám phá
                    những vùng đất mới. Tự do khám phá cùng chúng
                    tôi.
                </p>
                <h3
                    style="color: #0396ff; font-size: 21px; margin: 20px 0">
                    Cơ hội tuyệt vời để gửi gắm niềm tin cùng ND
                    Travel. Tại sao
                    không?
                </h3>
                <p>
                    <span
                        class="glyphicon glyphicon-thumbs-up"></span>Hơn
                    10.000
                    khách hàng trên khắp cả nước đã đồng hành cùng
                    chúng tôi
                </p>
                <p>Bao phủ hơn 1.000 tour trong và ngoài nước</p>
                <p>Tour và giá cả đa dạng</p>
            </div>
            <div class="col-sm-7">
                <img src="/ASM2/img/img-section-about.webp" alt />
            </div>
        </div>
    </div>
</div>
<div class="tour-about">
    <div class="info"
        style="margin-left: 110px;margin-bottom: 50px;">
        <h2>Tour giá tốt</h2>
        <p style="color: #76809b;">Hơn 1.000 tour đa dạng giá hời có
            hạn</p>
    </div>
    <div class="row" style="margin: 50px; padding: 10px 45px;">
        <div class="col-sm-3 card"
            style="height: 400px;width: 300px;margin: 0px 15px;">
            <img src="/ASM2/img/sp2.webp" alt style="padding: 10px;">
            <div class="infomation" style="margin: 10px;">
                <p style="color: #76809b;">Khởi hành từ : HCM</p>
                <h3 style="font-size: 20px;">HCM - Seoul - Đảo Nami
                    - Trượt tuyết Elysian 5N4Đ</h3>
                <h4
                    style="font-size: 17px;color: #0396ff;">15.000.000Đ</h4>
                <p style="font-size: 14px;color: #76809b;">Thời gian
                    5N4Đ</p>
            </div>
            <a href="http://127.0.0.1:5500/Assignment-G%C4%901/libs/datve.html"><button style="width: 275px;" type="submit" class="btn btn-primary">Đặt vé ngay</button></a>
        </div>
        <div class="col-sm-3 card"
            style="height: 400px;width: 300px;margin: 0px 15px;">
            <img src="/ASM2/img/sp2-4.webp" alt style="padding: 10px;">
            <div class="infomation" style="margin: 10px;">
                <p style="color: #76809b;">Khởi hành từ : HCM</p>
                <h3 style="font-size: 20px;">HCM - Seoul - Đảo Nami
                    - Trượt tuyết Elysian 5N4Đ</h3>
                <h4
                    style="font-size: 17px;color: #0396ff;">16.800.000Đ</h4>
                <p style="font-size: 14px;color: #76809b;">Thời gian
                    5N4Đ</p>
            </div>
            <a href="http://127.0.0.1:5500/Assignment-G%C4%901/libs/datve.html"><button style="width: 275px;" type="submit" class="btn btn-primary">Đặt vé ngay</button></a>
        </div>
        <div class="col-sm-3 card"
            style="height: 400px;width: 300px;margin: 0px 15px;">
            <img src="/ASM2/img/sp2-5.webp" alt style="padding: 10px;">
            <div class="infomation" style="margin: 10px;">
                <p style="color: #76809b;">Khởi hành từ : HCM</p>
                <h3 style="font-size: 20px;">HCM - Seoul - Đảo Nami
                    - Trượt tuyết Elysian 5N4Đ</h3>
                <h4
                    style="font-size: 17px;color: #0396ff;">13.200.000Đ</h4>
                <p style="font-size: 14px;color: #76809b;">Thời gian
                    5N4Đ</p>
            </div>
            <a href="http://127.0.0.1:5500/Assignment-G%C4%901/libs/datve.html"><button style="width: 275px;" type="submit" class="btn btn-primary">Đặt vé ngay</button></a>
        </div>
        <div class="col-sm-3 card"
            style="height: 400px;width: 300px;margin: 0px 15px;">
            <img src="/ASM2/img/sp5.webp" alt style="padding: 10px;">
            <div class="infomation" style="margin: 10px;">
                <p style="color: #76809b;">Khởi hành từ : HCM</p>
                <h3 style="font-size: 20px;">HCM - Seoul - Đảo Nami
                    - Trượt tuyết Elysian 5N4Đ</h3>
                <h4
                    style="font-size: 17px;color: #0396ff;">17.120.000Đ</h4>
                <p style="font-size: 14px;color: #76809b;">Thời gian
                    5N4Đ</p>
            </div>
            <a href="http://127.0.0.1:5500/Assignment-G%C4%901/libs/datve.html"><button style="width: 275px;" type="submit" class="btn btn-primary">Đặt vé ngay</button></a>
            </div>
    </div>
</div>
<div class="content-mid">
    <h2 class="text-center">Đồng hành cùng ND Travel</h2>
    <div class="row" style="margin: 50px; padding: 10px 45px;">
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand1.webp" alt
                style="width: 140px;">
        </div>
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand2.webp" alt
                style="width: 140px;">
        </div>
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand3.webp" alt
                style="width: 140px;">
        </div>
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand4.webp" alt
                style="width: 140px;">
        </div>
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand5.webp" alt
                style="width: 140px;">
        </div>
        <div class="col-sm-2" style="cursor: pointer;">
            <img src="/ASM2/img/logo_brand6.webp" alt
                style="width: 140px;">
        </div>
    </div>
</div>
